services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://farm_user:farm_password_2024@qq-farm-postgres:5432/shopify_reviews
      REDIS_HOST: qq-farm-redis
      REDIS_PORT: "6379"
      NODE_ENV: production

      SMTP_HOST: smtp.mailersend.net
      SMTP_PORT: "587"
      SMTP_USER: MS_UMJD8w@test-69oxl5ey56dl785k.mlsender.net
      SMTP_PASS: mssp.ERcWGaD.jy7zpl9pwnpg5vx6.wsGFKij
      SMTP_FROM: MS_UMJD8w@test-69oxl5ey56dl785k.mlsender.net
      ADMIN_EMAIL: dalechnpig@gmail.com
      NEXT_PUBLIC_APP_URL: https://frenmap.fun

      R2_ACCESS_KEY_ID: d90013cbe8093bed5ad1ee1c239f5a2a
      R2_SECRET_ACCESS_KEY: 341e9a9c9a08ebbfa6d148f9e85df43d8f89ccd0459f5bc2aca5fa9d337de6a8
      R2_ACCOUNT_ID: 90c92d63facae1160b45024cfa9de08d
      R2_BUCKET_NAME: review
      R2_CUSTOM_DOMAIN: https://img.frenmap.fun

    networks:
      - farm-network
    # depends_on:
    #   db:
    #     condition: service_healthy
    #   redis:
    #     condition: service_healthy
    command: sh -c "npx prisma db push --accept-data-loss && npx prisma generate && npm run start"

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://farm_user:farm_password_2024@qq-farm-postgres:5432/shopify_reviews
      REDIS_HOST: qq-farm-redis
      REDIS_PORT: "6379"
      NODE_ENV: production

      SMTP_HOST: smtp.mailersend.net
      SMTP_PORT: "587"
      SMTP_USER: MS_UMJD8w@test-69oxl5ey56dl785k.mlsender.net
      SMTP_PASS: mssp.ERcWGaD.jy7zpl9pwnpg5vx6.wsGFKij
      SMTP_FROM: MS_UMJD8w@test-69oxl5ey56dl785k.mlsender.net
      ADMIN_EMAIL: dalechnpig@gmail.com
      NEXT_PUBLIC_APP_URL: https://frenmap.fun

      R2_ACCESS_KEY_ID: d90013cbe8093bed5ad1ee1c239f5a2a
      R2_SECRET_ACCESS_KEY: 341e9a9c9a08ebbfa6d148f9e85df43d8f89ccd0459f5bc2aca5fa9d337de6a8
      R2_ACCOUNT_ID: 90c92d63facae1160b45024cfa9de08d
      R2_BUCKET_NAME: review
      R2_CUSTOM_DOMAIN: https://img.frenmap.fun


    networks:
      - farm-network
    # depends_on:
    #   db:
    #     condition: service_healthy
    #   redis:
    #     condition: service_healthy
    command: npm run worker

networks:
  farm-network:
    external: true
    name: farm-network
