services:
  db:
    image: postgres:17          # 想用其他版本就改成 16、15、14... 都可以
    pull_policy: always
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 46647451
      POSTGRES_DB: shopify_reviews     # 自动创建这个数据库
    ports:
      - "5432:5432"             # 如果本机已有 postgres，可改成 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d shopify_reviews"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://admin:46647451@db:5432/shopify_reviews
      NODE_ENV: production

      SMTP_HOST: smtp.mailersend.net
      SMTP_PORT: "587"
      SMTP_USER: MS_Nr5JC8@frenmap.fun
      SMTP_PASS: mssp.hnfZ5b7.pq3enl6pqxrg2vwr.jy4i6fQ
      SMTP_FROM: MS_Nr5JC8@frenmap.fun
      ADMIN_EMAIL: dalechnpig@gmail.com
      NEXT_PUBLIC_APP_URL: https://frenmap.fun

      AWS_ACCESS_KEY_ID: "d90013cbe8093bed5ad1ee1c239f5a2a"
      AWS_SECRET_ACCESS_KEY: "341e9a9c9a08ebbfa6d148f9e85df43d8f89ccd0459f5bc2aca5fa9d337de6a8"
      AWS_REGION: "auto"
      AWS_S3_BUCKET_NAME: "review"
      AWS_S3_CUSTOM_DOMAIN: "https://img.frenmap.fun"
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "npx prisma migrate deploy && npx prisma generate && npm run start"

volumes:
  postgres_data:
